@tailwind base;
@tailwind components;
@tailwind utilities;

/* Force your app’s font everywhere */
body {
  @apply font-sans;
}

/* Reset de márgenes/paddings y full-width/height */
html,
body,
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
